.background-img {
    position: absolute;
    inset: 0;
    height: 130%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../img/main-screen.jpg) center (center/cover) no-repeat;
    background-position-y: bottom;
}

@media (max-width: 991px) {
    .background-img {
        min-height: 400px;
    }
}

@media (max-width: 767px) {
    .background-img {
        min-height: 370px;
    }
}

