.footer {
    min-height: 60px;
    &__developer-lick {
        display: block;
        width: 120px;
        height: 20px;
        margin: 35px auto 0 auto;        
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 12px;
        transition: 0.8s;
        border-bottom: 1px solid white;
        &:hover {
            border-bottom: 1px solid rgb(83, 149, 55);
        }
    }
}